[meta]
version = 0

[enum]
user_level = ["beginner", "intermediate", "advanced"]
backlinks = ["entry", "top", "none"]
guide_categories = ["Getting Started"]
alignment = ["left", "center", "right"]
card_type = ["small", "large"]
output_format = ["html"]

[directive.default-domain]
argument_type = "string"
deprecated = true

[directive.div]
deprecated = true
argument_type = "string"
content_type = "block"

[directive.container]
deprecated = true
argument_type = "string"
content_type = "block"

[directive.list-table]
help = """Define a table using nested lists."""
example = """.. list-table::
   :header-rows: 1
   :stub-columns: 1

   * - Platform
     - 4.0 Community & Enterprise
     - 3.6 Community & Enterprise
   * - Ubuntu 16.04
     - |checkmark|
     - |checkmark|
"""
content_type = "list_table"
options.widths = "string"
options.class = "string"
options.header-rows = "nonnegative_integer"
options.stub-columns = "nonnegative_integer"

[directive.admonition]
content_type = "block"
argument_type = "string"
options.class = "string"

[directive.note]
inherit = "admonition"

[directive.warning]
inherit = "admonition"

[directive.important]
inherit = "admonition"

[directive.danger]
inherit = "admonition"

[directive.caution]
inherit = "admonition"

[directive.tip]
inherit = "admonition"

[directive.versionchanged]
argument_type = "string"
content_type = "block"

[directive.versionadded]
argument_type = "string"
content_type = "block"

[directive.deprecated]
argument_type = "string"
content_type = "block"

[directive.see]
argument_type = "string"
content_type = "block"

[directive.todo]
help = """Describes a task to be completed by a writer in the future."""
argument_type = "string"
content_type = "string"

[directive.contents]
argument_type = "string"
options.local = "flag"
options.backlinks = "backlinks"
options.depth = "nonnegative_integer"
options.class = "string"

[directive.include]
help = """Include a reStructuredText file's contents."""
argument_type = ["path", "uri"]
options.start-after = "string"
options.end-before = "string"

[directive.literalinclude]
help = """Include a file as a block of code."""
inherit = "include"
options.start-after = "linenos"
options.end-before = "linenos"
options.linenos = "flag"
options.language = "string"
options.dedent = ["nonnegative_integer", "flag"]
options.emphasize-lines = "linenos"
options.lines = "linenos"

[directive.figure]
help = """Include an image file."""
argument_type = ["path", "uri"]
content_type = "block"
options.alt = "string"
options.figwidth = "length"
options.scale = "string"
options.width = "length"
options.align = "alignment"
options.lightbox = "flag"

[directive.image]
inherit = "figure"

[directive.example]
help = """A section providing an example related to the surrounding text."""
content_type = "block"

[directive.optional]
help = """A section optional information or steps."""
content_type = "block"

[directive.raw]
help = """Include raw unparsed content when rendering into a given output format."""
deprecated = true
argument_type = "output_format"
content_type = "string"

[directive.only]
help = """Only parse a chunk of content if the condition in the argument is true."""
argument_type = "string"
content_type = "block"

[directive.cond]
inherit = "only"

[directive.role]
deprecated = true
argument_type = "string"

[directive.class]
help = """Set a class on the next element."""
deprecated = true
argument_type = "string"
content_type = "block"

[directive.sidebar]
help = """A nested document providing related or reference material."""
argument_type = "string"
options.subtitle = "string"
content_type = "block"

[directive.toctree]
help = """List pages to treat as children of this page."""
content_type = "block"
options.caption = "string"
options.titlesonly = "flag"
options.hidden = "flag"
options.maxdepth = "nonnegative_integer"
options.includehidden = "flag"

[directive.tabs-pillstrip]
deprecated = true
argument_type = "string"

[directive.tabs-top]
deprecated = true

[directive.tabs]
content_type = "block"
argument_type = "string"
options.hidden = "boolean"
options.tabset = "string"

[directive.tabs-cloud]
inherit = "tabs"

[directive.tabs-platforms]
inherit = "tabs"

[directive.tabs-drivers]
inherit = "tabs"

[directive.tabs-auth]
inherit = "tabs"

[directive.tabs-stitch-auth-providers]
inherit = "tabs"

[directive.tabs-deployments]
inherit = "tabs"

[directive.tabs-cloud-providers]
inherit = "tabs"

[directive.tabs-stitch-sdks]
inherit = "tabs"

[directive.tabs-stitch-interfaces]
inherit = "tabs"

[directive.tab]
argument_type = "string"
content_type = "block"
options.tabid = "string"

[directive.index]
argument_type = "string"

[directive.describe]
argument_type = "string"
content_type = "block"

[directive.glossary]
content_type = "block"
options.sorted = "flag"

[directive.rubric]
argument_type = "string"

[directive.code-block]
help = """A block of code to show the user."""
argument_type = "string"
options.copyable = "boolean"
options.emphasize-lines = "string"
options.class = "string"
options.linenos = "flag"

[directive.code]
help = """A block of code to show the user."""
inherit = "code-block"

[directive.cssclass]
help = """Add the given CSS class name to generated HTML of the contained (if content is given) or
          following (if not) page element."""
argument_type = "string"
content_type = "block"

[directive.uriwriter]

[directive.card-group]
options.type = "card_type"
content_type = "block"

###### Guides
[directive.card]
help = """A single-page card."""
argument_type = "string"

[directive.multi-card]
help = """A card with multiple pages."""
example = """.. multi-card:: MongoDB in the Cloud

   * cloud/atlas
   * cloud/connectionstring
"""
argument_type = "string"
content_type = "path-list"

[directive.guide-index]
help = """Render the guide landing page, using the cards listed in this directive."""
content_type = ["directive.card", "directive.multi-card"]

[directive.guide]
help = """Legacy guide definition."""
content_type = "block"
deprecated = true

[directive._guides-base]
required_context = "guide"
argument_type = "string"
content_type = "block"

[directive.category]
help = """The guide's type."""
inherit = "_guides-base"
argument_type = "guide_categories"

[directive.level]
help = """The expected level of user experience for this guide."""
inherit = "_guides-base"
argument_type = "user_level"

[directive.author]
help = """The author of this guide."""
inherit = "_guides-base"

[directive.product_version]
help = """The version of product to which this guide applies."""
inherit = "_guides-base"

[directive.hlist]
content_type = "list"
options.columns = "nonnegative_integer"

[directive.blockquote]
help = """A block of content which is quoted from another source."""
content_type = "block"

[directive.languages]
help = """A list of languages that this guide supports."""
example = """.. languages::

   * shell
   * compass
   * python
"""
inherit = "_guides-base"
content_type = "list"

[directive.deployments]
help = """Lists the expected types of MongoDB deployments for this guide."""
inherit = "_guides-base"

[directive.result_description]
help = """Describes the end result that the user should have once they have finished this guide."""
inherit = "_guides-base"

[directive.prerequisites]
help = """The prerequisites to start this guide."""
inherit = "_guides-base"

[directive.check_your_environment]
help = """Checks the user should perform before starting this guide."""
inherit = "_guides-base"

[directive.time]
help = """Shows the time expected for this guide."""
inherit = "_guides-base"

[directive.procedure]
help = """This guide's main procedure."""
inherit = "_guides-base"

[directive.summary]
inherit = "_guides-base"

[directive.whats_next]
help = """What the user should do next. Typically a brief paragraph, followed by a list of articles."""
inherit = "_guides-base"

[directive.seealso]
help = """Related pages. Typically a list."""
inherit = "_guides-base"

[directive.meta]
help = """Add metadata to the site for SEO."""
options.keywords = "string"
options.description = "string"

[directive.topic]
help = """A block with a self-contained chunk of information."""
argument_type = "string"
content_type = "block"

###### Roles
[role.guilabel]
help = """Used to specify a label or button in a GUI."""
type = "text"

[role.abbr]
help = """Abbreviation with hover text."""
type = "text"

[role.file]
help = """Show a file path."""
type = "text"

[role.command]
deprecated = true
type = "text"

# This is defined with .. role:: in the manual, which for architectural reasons we don't support.
[role.red]
deprecated = true
type = "text"

[role.icon-fa5]
help = """Show a FontAwesome 5 Solid icon."""
type = "explicit_title"

[role.icon]
inherit = "icon-fa5"
type = "explicit_title"

[role.icon-fa5-brands]
help = """Show a FontAwesome 5 Brand icon."""
type = "explicit_title"

[role.iconb]
inherit = "icon-fa5-brands"

[role.icon-mms]
help = """Show an MMS icon."""
type = "explicit_title"

[role.icon-mms-org]
help = """Show an MMS-org icon."""
type = "explicit_title"

[role.icon-charts]
help = """Show a MongoDB Charts icon."""
type = "explicit_title"

[role.icon-fa4]
help = """Show a FontAwesome 4 icon."""
type = "explicit_title"

[role.xml]
help = """Use XML to create reStructuredText nodes."""
type = "text"

[role.rfc]
help = """Reference an IETF RFC."""
type = "explicit_title"

[role.wikipedia]
help = """Reference a Wikipedia page."""
type = {link = "https://en.wikipedia.org/wiki/%s"}

[role.hardlink]
help = """Link to a URL in the current project."""
type = "explicit_title"

[role.doc]
help = """Link to a page in the current project."""
type = "explicit_title"

[role.api]
help = """Link to the api.mongodb.com API index."""
type = {link = "https://api.mongodb.com/%s"}

[role.aws]
help = """Link to the Amazon AWS documentation."""
type = {link = "http://docs.aws.amazon.com%s"}

[role.gcp]
help = "Link to the Google Cloud Platform documentation"
type = {link = "https://cloud.google.com%s"}

[role.azure]
help = "Link to the Microsoft Azure documentation"
type = {link = "https://docs.microsoft.com/en-us/azure%s"}

[role.gettingstarted]
help = """Link to the MongoDB Getting Started guide."""
type = {link = "https://docs.mongodb.org/getting-started%s"}

[role.master]
help = """Link to a path in the master branch of the current project."""
type = "explicit_title"

[role.docsgithub]
help = """Link to a MongoDB Manual GitHub path."""
type = {link = "http://github.com/mongodb/docs/blob/master/%s"}

[role.guides]
help = """Link to a page in the MongoDB Guides site."""
type = {link = "https://docs.mongodb.com/guides%s"}

[role.mms-docs]
help = """Link to a page in the MongoDB Guides site."""
type = {link = "https://docs.cloud.mongodb.com%s"}

[role.mms-home]
help = """Link to a MongoDB Cloud Services page."""
type = {link = "https://cloud.mongodb.com%s"}

[role.mongo-spark]
help = """Link to a page in the MongoDB Spark Connector GitHub project."""
type = {link = "https://github.com/mongodb/mongo-spark%s"}

[role.source]
help = """Link to a file in the MongoDB server GitHub project."""
type = {link = "https://github.com/mongodb/mongo/blob/master/%s"}

[role.ref]
help = """Link to a named target."""
type = "explicit_title"

[role."mongodb:ref"]
inherit = "ref"

[role.term]
help = """Link to a term in the glossary."""
type = "explicit_title"

[role.issue]
help = """Link to a JIRA ticket."""
type = {link = "https://jira.mongodb.org/browse/%s"}

[role.perl-api]
help = "Link to a page in the Perl driver's CPAN API reference."
type = {link = "https://metacpan.org/pod/MongoDB::%s"}

[role.node-docs]
help = """Link to a page in the Node.js driver's documentation."""
type = {link = "http://mongodb.github.io/node-mongodb-native/3.0/%s"}

[role.node-api]
help = """Link to a page in the Node.js driver's API reference."""
type = {link = "http://mongodb.github.io/node-mongodb-native/3.0/api/%s"}

[role.ruby-api]
help = """Link to a page in the Ruby driver's API reference."""
type = {link = "http://api.mongodb.com/ruby/current/Mongo/%s"}

[role.scala-api]
help = """Link to a page in the Scala driver's API reference."""
type = {link = "http://mongodb.github.io/mongo-scala-driver/2.2/scaladoc/org/mongodb/scala/MongoCollection.html#%s"}

[role.csharp-docs]
help = """Link to a page in the C# driver's documentation."""
type = {link = "https://mongodb.github.io/mongo-csharp-driver/2.5/reference/%s"}

[role.csharp-api]
help = """Link to a page in the C# driver's API reference."""
type = {link = "https://mongodb.github.io/mongo-csharp-driver/2.5/apidocs/html/%s.htm"}

[role.java-async-docs]
help = """Link to the async Java driver's documentation."""
type = {link = "http://mongodb.github.io/mongo-java-driver/3.7/%s"}

[role.java-async-api]
help = """Link to the async Java driver's API reference."""
type = {link = "http://mongodb.github.io/mongo-java-driver/3.7/javadoc/%s"}

[role.java-sync-api]
help = """Link to the synchronous Java driver's API reference."""
type = {link = "http://mongodb.github.io/mongo-java-driver/3.7/javadoc/%s"}

[role.go-api]
help = """Link to the Go driver's API reference."""
type = {link = "https://godoc.org/github.com/mongodb/mongo-go-driver/%s"}

[role.atlas]
help = """Link to the synchronous Atlas documentation."""
type = {link = "https://docs.atlas.mongodb.com/%s"}

[role."v2.2"]
type = {link = "https://docs.mongodb.com/v2.2%s"}

[role."v2.4"]
type = {link = "https://docs.mongodb.com/v2.4%s"}

[role."v2.6"]
type = {link = "https://docs.mongodb.com/v2.6%s"}

[role."v3.0"]
type = {link = "https://docs.mongodb.com/v3.0%s"}

[role."v3.2"]
type = {link = "https://docs.mongodb.com/v3.2%s"}

[role."v3.4"]
type = {link = "https://docs.mongodb.com/v3.4%s"}

[role."v3.6"]
type = {link = "https://docs.mongodb.com/v3.6%s"}

[role."v4.0"]
type = {link = "https://docs.mongodb.com/v4.0%s"}

[role.website]
help = """Link to a page in the MongoDB website."""
type = {link = "https://www.mongodb.com%s?jmp=docs"}

[role.manual]
help = """Link to a page in the latest stable version of the MongoDB manual."""
type = {link = "https://docs.mongodb.com/manual%s"}

[role.cloudmgr]
help = """Link to a page in the Cloud Manager docs."""
type = {link = "https://docs.cloudmanager.mongodb.com%s"}

[role.opsmgr]
help = """Link to a page in the MMS Ops Manager documentation."""
type = {link = "https://docs.opsmanager.mongodb.com/current%s"}

[role.stitch]
help = """Link to a page in the Stitch docs."""
type = {link = "https://docs.mongodb.com/stitch%s"}

[role.charts]
help = """Link to a page in the Charts docs."""
type = {link = "https://docs.mongodb.com/charts/saas%s"}

[role."charts-v0.10"]
help = """Link to a page in v0.10 of the Charts docs."""
type = {link = "https://docs.mongodb.com/charts/v0.10%s"}

[role."charts-v0.9"]
help = """Link to a page in v0.9 of the Charts docs."""
type = {link = "https://docs.mongodb.com/charts/v0.9%s"}

[role."v0.10"]
deprecated = true
inherit = "charts-v0.10"

[role."v0.9"]
deprecated = true
inherit = "charts-v0.9"

[role.compass]
help = """Link to a page in the Compass docs."""
type = {link = "https://docs.mongodb.com/compass%s"}

[role.ecosystem]
help = """Link to a page in the Ecosystem docs."""
type = {link = "https://docs.mongodb.com/ecosystem%s"}

[role.products]
help = """Link to a page in the MongoDB Products site."""
type = {link = "https://www.mongodb.com/products%s"}

[role.driver]
help = """Link to a driver's page in the Ecosystem docs."""
type = {link = "https://docs.mongodb.com/ecosystem/drivers%s"}

[role.bic]
type = {link = "https://docs.mongodb.com/bi-connector/current%s"}

[role.k8s]
type = {link = "https://docs.mongodb.com/kubernetes-operator/stable%s"}

[role.product]
type = {link = "http://www.mongodb.com/products/%s?jmp=docs"}

[role.dl]
type = {link = "http://www.mongodb.com/download-center/%s?jmp=docs"}

[role.wtdocs]
type = {link = "http://source.wiredtiger.com/mongodb-3.4%s"}

### Types of objects (directive & role pairs)
[rstobject."py:class"]
[rstobject."py:meth"]
[rstobject."js:func"]
[rstobject.action]
[rstobject.alert]

[rstobject.alert-type]
inherit = "alert"

[rstobject.apierror]
[rstobject.asetting]
[rstobject.atlasrole]
[rstobject.authaction]
[rstobject.authrole]
[rstobject.binary]
[rstobject.bsetting]
[rstobject.bsontype]
[rstobject.collflag]
[rstobject.commandoption]
[rstobject.configexpansion]
[rstobject.data]
[rstobject.dbcommand]
[rstobject.error]
[rstobject.event]
[rstobject.expression]
[rstobject.group]
[rstobject.httpaction]
[rstobject.json-expansion]
[rstobject.json-operator]
[rstobject.limit]
[rstobject.macro]
[rstobject.mailgunaction]
[rstobject.method]
[rstobject.mongodb]
[rstobject.msetting]
[rstobject.operator]
[rstobject.option]
[rstobject."mongomirror:option"]
[rstobject.parameter]
[rstobject.phpclass]
[rstobject.phpmethod]
[rstobject.pipeline]
[rstobject.program]
[rstobject.projection]
[rstobject.query]
[rstobject.readconcern]
[rstobject.readmode]
[rstobject.replstate]
[rstobject.rsconf]
[rstobject.s3action]
[rstobject.serverstatus]
[rstobject.sesaction]
[rstobject.setting]
[rstobject.slackaction]
[rstobject.toolcommand]
[rstobject.twilioaction]
[rstobject.update]
[rstobject.urioption]
[rstobject.variable]
[rstobject.writeconcern]
[rstobject.envvar]
[rstobject.datalakeconf]
