[build-system]
requires = ["flit"]
build-backend = "flit.buildapi"

[tool.flit.metadata]
module = "snooty"
author = "MongoDB, inc."
author-email = "i80and@foxquill.com"
home-page = "https://github.com/mongodb/snooty-parser"
classifiers = ["License :: OSI Approved :: Apache Software License"]
requires-python = "~= 3.7"
requires = [
    "pymongo[srv,tls] >= 3.11.1, < 4",
    "docutils >= 0.16, < 0.18",
    "watchdog ~= 1.0",
    "requests ~= 2.24",
    "toml ~= 0.10",
    "pyyaml ~= 5.3",
    "typing-extensions >= 3.7",
    "python-jsonrpc-server ~= 0.3.4",
    "fett ~= 0.3.2",
    "networkx >= 2.4, < 3",
    "docopt ~= 0.6.2"
]

[tool.flit.metadata.requires-extra]
dev = [
    "black ~= 21.12b0",
    "pyflakes ~= 2.4",
    "mypy ~= 0.910",
    "pyinstaller ~= 4.7",
    "isort ~= 5.10.1",
    "types-requests ~= 2.26.1",
    "types-toml ~= 0.10.1"
]
test = [
    "pytest ~= 6.2.5",
    "pytest-cov ~= 3.0.0"
]

[tool.flit.scripts]
snooty = "snooty.main:main"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.mypy]
python_version = "3.7"
mypy_path = "stubs"
strict_equality = true

[tool.pytest.ini_options]
testpaths = [
    "snooty",
    "tools",
]
